* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    /* background-color: rgb(69, 66, 66); */
}

nav {
    background-color: rgb(40, 35, 35);
    color: rgb(254, 236, 236);
    height: 58px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
}

.game{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 15vw);
}

.box{
    border: 1.8px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div:hover{
    background-color: rgb(177, 151, 151);
}

.gameInfo{
    padding: 0 30px;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}